  <div class="navbar-cocktails navbar-fixed-top">
    <div>
      <i class="fas fa-cocktail left"></i>
    </div>
    <div class="navbar-cocktails-menu">
      <p>about</p>
      <p>cocktails</p>
    </div>
    <div>
      <p class="right btn btn-primary ">sign-in</p>
    </div>
  </div>
