.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url(https://www.mailexperiences.co.uk/content/img/product/large/royal-cocktails-with-sharing-18100237.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}

.banner-content h1 {
  font-size: 42;
  color : white;
}

.banner-content p {
  font-size: 24;
  color : white;
  margin-bottom: 30px;
}


